

.header {
  background-color: #fff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5);
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
   z-index: 999;
  }
  body[data-theme="dark"] .header{
 
    background-color: #22313f !important;
    
  }
  
  .header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
   max-width: 1420px;
    margin: 0 auto;
    padding: 12px;
  }
  
  .header-title {
    font-size: 16px;
    font-weight: 800;
   
  }
  
  .dark-mode-toggle {
    display: flex;
    align-items: center;
    background: transparent;
    border: none;
    cursor: pointer;
  
    font-size: 16px;
   
  }
   
  .dark-mode-toggle svg {
    margin-right: 8px;
    
    
  }
  
  
  .dark-mode-toggle span {
    font-weight: 800;
  }
  
  
  @media (max-width: 768px) {
    .header-title {
      font-size: 20px;
    }
   
  }
  

  

  
